<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container">
        <div>
            <ion-button id="inlineLeft">Inline</ion-button>
            <ion-button (click)="useController($event)">Controller</ion-button>
        </div>
        <div>
            <ion-button id="inlineRigth">Inline</ion-button>
            <ion-button (click)="useController($event)">Controller</ion-button>
        </div>
    </div>

    <ion-popover trigger="inlineLeft">
        <ng-template>
            <app-popover></app-popover>
        </ng-template>
    </ion-popover>

    <ion-popover trigger="inlineRigth">
        <ng-template>
            <app-popover></app-popover>
        </ng-template>
    </ion-popover>
</ion-content>
